<footer class="container text-center mt-5">
    <p>
        <small>
            &copy; {{'now'|date('Y')}} &middot;
        Built whith <span class="text-danger">&hearts;</span>by <a href="#">Moulayef</a>
        </small>