{% extends "base.html.twig" %}

{% block title %}Create Pin{% endblock %}

{% block body %}
    {{form_start(createPin)}}
        {{form_row(createPin.title, {'attr' : {'placeholder':'Titre du pins'}}) }}
        {{form_row(createPin.description, {'attr' : {'placeholder':'Description du pins'}}) }}
        
        <button class="btn btn-primary btn-block"> 
        {% if editMode %}  
            Modifier le pin
        {% else %}
            Ajouter un pin
        {% endif %}
        </button>
        
    {{form_end(createPin)}}


{% endblock %}