{% extends 'base.html.twig' %}

{% block title %}Find all pins {% endblock %}

{% block body %}
<h1>ALL PINS</h1>
{{ {% for moulaye in pins %}
    
    title:{{moulaye.title}}
    description:{{moulaye.description }}

{% endfor %}}}
{% endblock %}
