{% extends 'base.html.twig' %}

{% block title %}Find all pins {% endblock %}

{% block body %}
    <h1>ALL PINS</h1>
    {% for moulaye in pins %}
    
        <article>
            <h1>{{moulaye.title}}</h1>
            <p>>{{moulaye.description }}</p>
        </article>
    {   % endfor %}}}
{% endblock %}
